.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  padding: 0 0.5rem;
  background-image: url("https://i.ibb.co/DY7N8VZ/1920px-8663056e.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 5000px;
}

.infoCardsContainer{
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.infoCardContentLeft{
  align-self: start;
}

.infoCardContentRight{
  align-self: end;
}

.blueText {
  color: #09fcff;
}

.mainTitleBlock{
  color: white;
  margin-top: 100px;
  font-size: 16px;
  width: 180px;
  align-self: start;
}

.mainTitle{
color: white;
}

.textApresentation{
  margin-top: 330px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 500px;
  font-family: 'Metal Mania', sans-serif;
}

.textApresentation p{
  width: 50%;
  font-size: 16px;
}

.textApresentation img{
  min-width: 150px;
  transform: scaleX(-1);
  rotate: -28deg;
  width: 30%;
  max-width: 600px;
}

@media screen and (min-width: 480px){
  .mainTitleBlock{
    margin-top: 130px;
    font-size: 20px;
  }

  .textApresentation{
    font-size: 18px;
    margin-top: 140px;
  }

  .textApresentation h2{
    font-size: 32px;
  }

  .textApresentation img{
    width: 200px;
    align-self: start;
    margin-top: 40px;

  }
  .textApresentation p{
    width: 90%;
    text-align: center;
    font-size: 18px;
  }
}

@media screen and (min-width: 640px){
  .mainTitleBlock{
    width: 250px;
    font-size: 24px;
  }
}

@media screen and (min-width: 768px){

  .mainTitleBlock{
    width: 300px;
    font-size: 30px;
  }

  .textApresentation{
    font-size: 18px;
    width: 700px;
    margin-top: 240px;
  }

  .textApresentation h2{
    font-size: 44px;
  }

  .textApresentation img{
    width: 270px;
  }

  .textApresentation p{
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px){
  .textApresentation{
    margin-top: 400px;
  }

  .textApresentation h2{
    font-size: 50px;
  }

  .textApresentation p{
    font-size: 22px;
  }

  .textApresentation img{
    margin-top: 110px;
    margin-bottom: 60px;
  }

}

@media screen and (min-width: 1280px){
  .textApresentation{
    margin-top: 600px;
  }
}

@media screen and (min-width: 1536px){
  .textApresentation{
    margin-top: 42%;
  }
}